<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

  <bean id="eventProcessor" class="org.fcrepo.camel.processor.EventProcessor"/>

  <routeContext xmlns="http://camel.apache.org/schema/spring" id="EventProcessing">
    <!--
    Expected headers:
    * org.fcrepo.jms.user
    * org.fcrepo.jms.userAgent
    * org.fcrepo.jms.eventType
    * org.fcrepo.jms.resourceType
    * org.fcrepo.jms.identifier

    Expected body format:
    * application/json OR Java Map

    Expected environment variables:
    * BATCH_USER
    -->
    <route id="edu.umd.lib.camel.routes.queue.fedora">
      <from uri="activemq:fedora"/>
      <process ref="eventProcessor"/>
      <setHeader headerName="CamelFcrepoUser">
        <header>org.fcrepo.jms.user</header>
      </setHeader>
      <setHeader headerName="CamelFcrepoUserAgent">
        <header>org.fcrepo.jms.userAgent</header>
      </setHeader>
      <setHeader headerName="CamelFcrepoEventType">
        <header>org.fcrepo.jms.eventType</header>
      </setHeader>
      <setHeader headerName="CamelFcrepoResourceType">
        <header>org.fcrepo.jms.resourceType</header>
      </setHeader>
      <setHeader headerName="CamelFcrepoPath">
        <header>org.fcrepo.jms.identifier</header>
      </setHeader>
      <setHeader headerName="CamelFcrepoTopLevelResourcePath">
        <description>extracts the repo path from the top-level resource that the
        current resource is a part of (or is)</description>
        <groovy>
          def match = (headers["CamelFcrepoPath"] =~ $/((/dc/\d{4}/\d+|/pcdm)/../../../../.{8}-.{4}-.{4}-.{4}-.{12})/$)
          if (match) {
            result = match[0][1]
          }
        </groovy>
      </setHeader>
      <setHeader headerName="UMDIsTopLevelResource">
        <simple resultType="java.lang.Boolean">${header.CamelFcrepoPath} == ${header.CamelFcrepoTopLevelResourcePath}</simple>
      </setHeader>
      <log loggingLevel="DEBUG" message="${header.CamelFcrepoUri} is a top-level resource? ${header.UMDIsTopLevelResource}"/>
      <log loggingLevel="DEBUG" message="Event user: ${header.CamelFcrepoUser}"/>
      <log loggingLevel="DEBUG" message="Event user agent: ${header.CamelFcrepoUserAgent}"/>
      <log loggingLevel="INFO" message="Routing event for resource with URI: ${header.CamelFcrepoUri}"/>
      <removeHeaders pattern="org.fcrepo.*"/>
      <choice>
        <when>
          <simple>${header.CamelFcrepoPath} == ""</simple>
          <log loggingLevel="INFO" message="Root path detected. Suppressing ${header.CamelFcrepoEventType}."/>
          <stop/>
        </when>
        <when>
          <simple>${header.CamelFcrepoPath} in "/pcdm,/annotations"</simple>
          <log loggingLevel="INFO" message="Skip path detected. Suppressing ${header.CamelFcrepoEventType} for '${header.CamelFcrepoPath}'."/>
          <stop/>
        </when>
        <when>
          <simple>${header.CamelFcrepoUser} == ${sysenv.BATCH_USER}</simple>
          <log loggingLevel="INFO" message="Detected batch user (${header.CamelFcrepoUser}) initiated event."/>
          <to uri="direct:BatchEvent"/>
        </when>
        <otherwise>
          <to uri="direct:DetectEventType"/>
        </otherwise>
      </choice>
    </route>

    <!--
    Expected headers:
    * CamelFcrepoPath
    * CamelFcrepoResourceType
    -->
    <route id="edu.umd.lib.camel.routes.BatchEvent">
      <from uri="direct:BatchEvent"/>
      <filter>
        <simple>${header.CamelFcrepoPath} contains '#'</simple>
        <log loggingLevel="DEBUG" message="URI with fragment detected. Suppressing '${header.CamelFcrepoUri}' node event for batch user."/>
        <stop/>
      </filter>
      <filter>
        <simple>${header.CamelFcrepoResourceType} contains 'http://pcdm.org/models#Collection'</simple>
        <log loggingLevel="DEBUG" message="Collection resource detected. Suppressing '${header.CamelFcrepoUri}' node event for batch user."/>
        <stop/>
      </filter>
      <setHeader headerName="JMSPriority">
        <constant>3</constant>
      </setHeader>
      <setHeader headerName="UMDBatchEvent">
        <constant>true</constant>
      </setHeader>
      <to uri="direct:DetectEventType"/>
    </route>

    <!--
    Expected headers:
    * CamelFcrepoEventType
    * CamelFcrepoUserAgent
    -->
    <route id="edu.umd.lib.camel.routes.DetectEventType">
      <from uri="direct:DetectEventType"/>
      <log loggingLevel="DEBUG" message="${routeId}: ${id}"/>

      <choice>
        <when>
          <simple>
            ${header.CamelFcrepoEventType} contains "http://fedora.info/definitions/v4/event#ResourceCreation"
            || ${header.CamelFcrepoEventType} contains "https://www.w3.org/ns/activitystreams#Create"
          </simple>
          <choice>
            <when>
              <simple>${header.CamelFcrepoUserAgent} contains '(import)'</simple>
              <setHeader headerName="CamelFcrepoEventName">
                <constant>import</constant>
              </setHeader>
            </when>
            <otherwise>
              <setHeader headerName="CamelFcrepoEventName">
                <constant>create</constant>
              </setHeader>
            </otherwise>
          </choice>
        </when>
        <when>
          <simple>
            ${header.CamelFcrepoEventType} contains "http://fedora.info/definitions/v4/event#ResourceDeletion"
            || ${header.CamelFcrepoEventType} contains "https://www.w3.org/ns/activitystreams#Delete"
          </simple>
          <setHeader headerName="CamelFcrepoEventName">
            <constant>delete</constant>
          </setHeader>
        </when>
        <when>
          <simple>
            ${header.CamelFcrepoEventType} contains "http://fedora.info/definitions/v4/event#ResourceModification"
            || ${header.CamelFcrepoEventType} contains "https://www.w3.org/ns/activitystreams#Update"
          </simple>
          <setHeader headerName="CamelFcrepoEventName">
            <constant>update</constant>
          </setHeader>
        </when>
      </choice>

      <to uri="direct:DetectBinary"/>
    </route>

    <!--
    Expected headers:
    * CamelFcrepoResourceType
    * CamelFcrepoEventName
    -->
    <route id="edu.umd.lib.camel.routes.DetectBinary">
      <from uri="direct:DetectBinary"/>
      <choice>
        <when>
          <simple>${header.CamelFcrepoResourceType} contains "http://fedora.info/definitions/v4/repository#Binary"</simple>
          <setHeader headerName="CamelFcrepoBinary">
            <constant>true</constant>
          </setHeader>
          <setHeader headerName="CamelFcrepoEventName">
            <simple>${header.CamelFcrepoEventName} binary</simple>
          </setHeader>
        </when>
        <otherwise>
          <setHeader headerName="CamelFcrepoEventName">
            <simple>${header.CamelFcrepoEventName} RDF</simple>
          </setHeader>
        </otherwise>
      </choice>
      <log loggingLevel="INFO" message="Event with MessageID ${id} is a ${headers.CamelFcrepoEventName} event"/>
      <to uri="direct:Distribution"/>
    </route>

    <!--
    Expected headers:
    * CamelFcrepoUri
    -->
    <route id="edu.umd.lib.camel.routes.Distribution">
      <from uri="direct:Distribution"/>
      <log loggingLevel="DEBUG" message="Distributing event for ${header.CamelFcrepoUri} (MessageID: ${id})"/>
      <multicast parallelProcessing="true">
        <filter>
          <simple>${headers.CamelFcrepoBinary}</simple>
          <to uri="direct:BinaryDistribution"/>
        </filter>
        <to uri="activemq:index"/>
        <to uri="activemq:audit"/>
      </multicast>
    </route>

    <!--
    Expected headers:
    * CamelFcrepoEventName
    * CamelFcrepoUri
    -->
    <route id="edu.umd.lib.camel.routes.BinaryDistribution">
      <from uri="direct:BinaryDistribution"/>
      <multicast parallelProcessing="true">
        <pipeline>
          <removeHeaders pattern="CamelHttp*"/>
          <process ref="addBearerAuthorization"/>
          <!-- check whether this is an image or not -->
          <setHeader headerName="CamelHttpUri">
            <simple>${sysenv.REPO_INTERNAL_URL}${header.CamelFcrepoPath}</simple>
          </setHeader>
          <setHeader headerName="CamelHttpMethod">
            <constant>HEAD</constant>
          </setHeader>
          <!-- send the HEAD request to fcrepo -->
          <log loggingLevel="DEBUG" message="HEAD ${header.CamelHttpUri}"/>
          <to uri="http4:fcrepo"/>
          <filter>
            <!--
              if the message is about an image, remove all headers except for CamelFcrepoUri,
              clear the body, and send to the image pre-fetcher queue
            -->
            <simple>${header[Content-Type]} starts with "image/"</simple>
            <log loggingLevel="INFO" message="Image detected, sending to image pre-fetching queue"/>
            <!-- clean out unnecessary headers (just leave the fcrepo URI), and clear the body -->
            <removeHeaders pattern="*" excludePattern="CamelFcrepoUri"/>
            <setBody>
              <constant/>
            </setBody>
            <to uri="activemq:images"/>
          </filter>
        </pipeline>
        <filter>
          <!--
            if the message is about a new binary, remove all headers except for CamelFcrepoUri,
            clear the body, and send to the fixity candidates queue
          -->
          <simple>${header.CamelFcrepoEventName} in "create binary,import binary"</simple>
          <log loggingLevel="INFO" message="New binary detected, sending to fixity candidates queue"/>
          <!-- clean out unnecessary headers (just leave the fcrepo URI), and clear the body -->
          <removeHeaders pattern="*" excludePattern="CamelFcrepoUri"/>
          <setBody>
            <constant/>
          </setBody>
          <to uri="activemq:queue:fixitycandidates"/>
        </filter>
        <!-- send to fixity processing -->
        <to uri="activemq:fixity"/>
      </multicast>
    </route>

  </routeContext>
</beans>
