<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

  <routeContext xmlns="http://camel.apache.org/schema/spring" id="EventProcessing">
    <!--
    Expected headers:
    * org.fcrepo.jms.user
    * org.fcrepo.jms.userAgent
    * org.fcrepo.jms.eventType
    * org.fcrepo.jms.resourceType
    * org.fcrepo.jms.identifier

    Expected body format:
    * application/json OR Java Map

    Expected environment variables:
    * BATCH_USER
    -->
    <route id="edu.umd.lib.camel.routes.queue.fedora">
      <from uri="fcrepomq:fedora"/>
      <setHeader name="FcrepoUser">
        <header>org.fcrepo.jms.user</header>
      </setHeader>
      <setHeader name="FcrepoUserAgent">
        <groovy>URLDecoder.decode(header["org.fcrepo.jms.userAgent"],"UTF-8")</groovy>
      </setHeader>
      <setHeader name="FcrepoEventId">
        <header>org.fcrepo.jms.eventID</header>
      </setHeader>
      <setHeader name="FcrepoEventType">
        <header>org.fcrepo.jms.eventType</header>
      </setHeader>
      <setHeader name="FcrepoResourceType">
        <header>org.fcrepo.jms.resourceType</header>
      </setHeader>
      <setHeader name="FcrepoPath">
        <header>org.fcrepo.jms.identifier</header>
      </setHeader>
      <setHeader name="FcrepoBaseUrl">
        <header>org.fcrepo.jms.baseURL</header>
      </setHeader>
      <setHeader name="FcrepoUri">
        <simple>${header.FcrepoBaseUrl}${header.FcrepoPath}</simple>
      </setHeader>
      <setHeader name="FcrepoDateTime">
        <jq resultType="java.lang.String">.published</jq>
      </setHeader>
      <setHeader
          name="FcrepoTopLevelResourcePath"
          description="extracts the repo path from the top-level resource that the current resource is a part of (or is)">
        <groovy>
          def match = (headers["FcrepoPath"] =~ $/((/dc/\d{4}/\d+|/pcdm)/../../../../.{8}-.{4}-.{4}-.{4}-.{12})/$)
          if (match) {
            result = match[0][1]
          }
        </groovy>
      </setHeader>
      <setHeader name="UMDIsTopLevelResource">
        <simple resultType="java.lang.Boolean">${header.FcrepoPath} == ${header.FcrepoTopLevelResourcePath}</simple>
      </setHeader>
      <to uri="activemq:fedora.log"/>
      <removeHeaders pattern="org.fcrepo.*"/>
      <log loggingLevel="DEBUG" message="${header.FcrepoUri} is a top-level resource? ${header.UMDIsTopLevelResource}"/>
      <log loggingLevel="DEBUG" message="Event user: ${header.FcrepoUser}"/>
      <log loggingLevel="DEBUG" message="Event user agent: ${header.FcrepoUserAgent}"/>
      <log loggingLevel="INFO" message="Routing event for resource with URI: ${header.FcrepoUri}"/>
      <choice>
        <when>
          <simple>${header.FcrepoPath} == ""</simple>
          <log loggingLevel="INFO" message="Root path detected. Suppressing ${header.FcrepoEventType}."/>
          <stop/>
        </when>
        <when>
          <simple>${header.FcrepoPath} in "/pcdm,/annotations"</simple>
          <log loggingLevel="INFO" message="Skip path detected. Suppressing ${header.FcrepoEventType} for '${header.FcrepoPath}'."/>
          <stop/>
        </when>
        <when>
          <simple>${header.FcrepoUser} == ${sysenv.BATCH_USER}</simple>
          <log loggingLevel="INFO" message="Detected batch user (${header.FcrepoUser}) initiated event."/>
          <to uri="direct:BatchEvent"/>
        </when>
        <otherwise>
          <to uri="direct:DetectEventType"/>
        </otherwise>
      </choice>
    </route>

    <!--
    Expected headers:
    * FcrepoPath
    * FcrepoResourceType
    -->
    <route id="edu.umd.lib.camel.routes.BatchEvent">
      <from uri="direct:BatchEvent"/>
      <filter>
        <simple>${header.FcrepoPath} contains '#'</simple>
        <log loggingLevel="DEBUG" message="URI with fragment detected. Suppressing '${header.FcrepoUri}' node event for batch user."/>
        <stop/>
      </filter>
      <filter>
        <simple>${header.FcrepoResourceType} contains 'http://pcdm.org/models#Collection'</simple>
        <log loggingLevel="DEBUG" message="Collection resource detected. Suppressing '${header.FcrepoUri}' node event for batch user."/>
        <stop/>
      </filter>
      <setHeader name="JMSPriority">
        <constant>3</constant>
      </setHeader>
      <setHeader name="UMDBatchEvent">
        <constant>true</constant>
      </setHeader>
      <to uri="direct:DetectEventType"/>
    </route>

    <!--
    Expected headers:
    * FcrepoEventType
    * FcrepoUserAgent
    -->
    <route id="edu.umd.lib.camel.routes.DetectEventType">
      <from uri="direct:DetectEventType"/>
      <log loggingLevel="DEBUG" message="${routeId}: ${id}"/>

      <choice>
        <when>
          <simple>
            ${header.FcrepoEventType} contains "http://fedora.info/definitions/v4/event#ResourceCreation"
            || ${header.FcrepoEventType} contains "https://www.w3.org/ns/activitystreams#Create"
          </simple>
          <choice>
            <when>
              <simple>${header.FcrepoUserAgent} contains '(import)'</simple>
              <setHeader name="FcrepoEventName">
                <constant>import</constant>
              </setHeader>
            </when>
            <otherwise>
              <setHeader name="FcrepoEventName">
                <constant>create</constant>
              </setHeader>
            </otherwise>
          </choice>
        </when>
        <when>
          <simple>
            ${header.FcrepoEventType} contains "http://fedora.info/definitions/v4/event#ResourceDeletion"
            || ${header.FcrepoEventType} contains "https://www.w3.org/ns/activitystreams#Delete"
          </simple>
          <setHeader name="FcrepoEventName">
            <constant>delete</constant>
          </setHeader>
        </when>
        <when>
          <simple>
            ${header.FcrepoEventType} contains "http://fedora.info/definitions/v4/event#ResourceModification"
            || ${header.FcrepoEventType} contains "https://www.w3.org/ns/activitystreams#Update"
          </simple>
          <setHeader name="FcrepoEventName">
            <constant>update</constant>
          </setHeader>
        </when>
      </choice>

      <to uri="direct:DetectBinary"/>
    </route>

    <!--
    Expected headers:
    * FcrepoResourceType
    * FcrepoEventName
    -->
    <route id="edu.umd.lib.camel.routes.DetectBinary">
      <from uri="direct:DetectBinary"/>
      <choice>
        <when>
          <simple>${header.FcrepoResourceType} contains "http://fedora.info/definitions/v4/repository#Binary"</simple>
          <setHeader name="FcrepoBinary">
            <constant>true</constant>
          </setHeader>
          <setHeader name="FcrepoEventName">
            <simple>${header.FcrepoEventName} binary</simple>
          </setHeader>
        </when>
        <otherwise>
          <setHeader name="FcrepoEventName">
            <simple>${header.FcrepoEventName} RDF</simple>
          </setHeader>
        </otherwise>
      </choice>
      <log loggingLevel="INFO" message="Event with MessageID ${id} is a ${headers.FcrepoEventName} event"/>
      <to uri="direct:Distribution"/>
    </route>

    <!--
    Expected headers:
    * FcrepoUri
    -->
    <route id="edu.umd.lib.camel.routes.Distribution">
      <from uri="direct:Distribution"/>
      <log loggingLevel="DEBUG" message="Distributing event for ${header.FcrepoUri} (MessageID: ${id})"/>
      <multicast parallelProcessing="true">
        <filter>
          <simple>${headers.FcrepoBinary}</simple>
          <to uri="direct:BinaryDistribution"/>
        </filter>
        <to uri="activemq:index"/>
        <to uri="activemq:audit"/>
      </multicast>
    </route>

    <!--
    Expected headers:
    * FcrepoEventName
    * FcrepoUri
    -->
    <route id="edu.umd.lib.camel.routes.BinaryDistribution">
      <from uri="direct:BinaryDistribution"/>
      <filter>
        <simple>${header.FcrepoEventName} == "delete binary"</simple>
        <log loggingLevel="DEBUG" message="Halting binary distribution for deleted binary ${header.FcrepoUri}"/>
        <stop/>
      </filter>
      <multicast parallelProcessing="true">
        <pipeline>
          <removeHeaders pattern="CamelHttp*"/>
          <process ref="addBearerAuthorization"/>
          <!-- check whether this is an image or not -->
          <setHeader name="CamelHttpUri">
            <simple>${sysenv.REPO_INTERNAL_URL}${header.FcrepoPath}</simple>
          </setHeader>
          <setHeader name="CamelHttpMethod">
            <constant>HEAD</constant>
          </setHeader>
          <!-- send the HEAD request to fcrepo -->
          <log loggingLevel="DEBUG" message="HEAD ${header.CamelHttpUri}"/>
          <to uri="http:fcrepo"/>
          <filter>
            <!--
              if the message is about an image, remove all headers except for FcrepoUri,
              clear the body, and send to the image pre-fetcher queue
            -->
            <simple>${header[Content-Type]} startsWith "image/"</simple>
            <log loggingLevel="INFO" message="Image detected, sending to image pre-fetching queue"/>
            <!-- clean out unnecessary headers (just leave the fcrepo URI), and clear the body -->
            <removeHeaders pattern="*" excludePattern="FcrepoUri"/>
            <setBody>
              <constant/>
            </setBody>
            <to uri="activemq:images"/>
          </filter>
        </pipeline>
        <filter>
          <!--
            if the message is about a new binary, remove all headers except for FcrepoUri,
            clear the body, and send to the fixity candidates queue
          -->
          <simple>${header.FcrepoEventName} in "create binary,import binary"</simple>
          <log loggingLevel="INFO" message="New binary detected, sending to fixity candidates queue"/>
          <!-- clean out unnecessary headers (just leave the fcrepo URI), and clear the body -->
          <removeHeaders pattern="*" excludePattern="FcrepoUri"/>
          <setBody>
            <constant/>
          </setBody>
          <to uri="activemq:queue:fixitycandidates"/>
        </filter>
        <!-- send to fixity processing -->
        <to uri="activemq:fixity"/>
      </multicast>
    </route>

  </routeContext>
</beans>
